<!DOCTYPE html>
<html>
<head>
  <title>Login Form</title>
  <style>
    /* Your CSS styles go here */
    body {
      font-family: Arial, sans-serif;
      background-color: #f1f1f1;
    }

    h2 {
      color: #007bff;
    }

    form {
      max-width: 400px;
      margin: 0 auto;
      padding: 20px;
      border: 1px solid #ccc;
      border-radius: 5px;
      background-color: #fff;
    }

    .field {
      margin-bottom: 10px;
    }

    label {
      font-weight: bold;
      color: #333;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 3px;
      background-color: #f9f9f9;
    }

    .actions {
      margin-top: 10px;
    }

    input[type="submit"] {
      background-color: #007bff;
      color: #fff;
      padding: 10px 15px;
      border: none;
      border-radius: 3px;
      cursor: pointer;
    }

    input[type="submit"]:hover {
      background-color: #0056b3;
    }

    .remember-me {
      display: flex;
      align-items: center;
      color: #333;
    }

    .remember-me input {
      margin-right: 5px;
    }
  </style>
</head>
<body>
  <h2 style ="text-align: center;">Log in</h2>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <%= image_tag('124.jpg', width: '355', height: '200') %>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>

    <% if devise_mapping.rememberable? %>
      <div class="field">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me, class: "remember-me" %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <%= render "devise/shared/links" %>
</body>
</html>

